# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor-specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Testing and coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

#
